{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

<div class="container">
		<div class="row">
			<div class="col-lg-2"></div>
			<div class="col-lg-8 justify-content-center animated lightSpeedIn">
				<div class="card rounded mt-5">
					<div class="card-header bg-dark w-100 p-5">
						<div class="text-center">
							<h2 class="script text-danger">Administration</h2>
						</div>	
					</div>
					<div class="card-body" >
						<form method="post">
                            {% if error %}
                                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}
							<div class="input-group-prepend my-3">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							<input type="email" name="email" class="form-control" placeholder="Email" value="{{ last_username }}" id="inputEmail" required autofocus>
							</div>
							
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fas fa-lock"></i></span>
                            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
                            <input type="hidden" name="_csrf_token"value="{{ csrf_token('authenticate') }}">
							</div>
							<button type="submit" class="btn btn-block btn-primary text-center my-5">Login</button>
						</form>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-3 col-min-2"></div>
		</div>	
	</div>
{% endblock %}
