{% extends 'base.html.twig' %}

{% block title %}Modifier l'exposition{% endblock %}

{% block body %}

<div class="container pt-5">
    <h1 class="script text-warning text-center">Modifier l'exposition</h1>


    {{ include('expositions/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('expositions/_delete_form.html.twig') }}
</div>
{% endblock %}
