{% extends 'base.html.twig' %}

{% block title %}Modification{% endblock %}

{% block body %}
{% include 'partials/_navbarGestion.html.twig' %}

<div class="container pt-5">
    <h1 class="script text-warning text-center">Modification</h1>
        <div class="text-center">
            <a class="btn btn-dark text-center mb-3" href="{{ path('expositions_index') }}">Retour</a>
        </div>


    {{ include('expositions/_form.html.twig', {'button_label': 'Update'}) }}

</div>
{% endblock %}
