{% extends 'base.html.twig' %}

{% block title %}Expositions qr codes{% endblock %}

{% block body %}

    <h2> {{exposition.nom}} </h2>
 
   {% for oeuvre in exposition.oeuvres %}
        <div>
            <img src="{{ asset('qr_codes/' ~ oeuvre.titre ~ '.png') }}"/>
            
            <p>{{ oeuvre.titre}}  
                {% if oeuvre.artiste is defined and oeuvre.artiste is not empty %}
                -  {{ oeuvre.artiste }} 
                {% endif %}
            <p>

        </div>
    {% endfor %}
{% endblock %}