{% extends 'base.html.twig' %}

{% block title %}Ajouter une nouvelle exposition{% endblock %}

{% block body %}
    <h1>Créer une nouvelle exposition</h1>

    {{ include('expositions/_form.html.twig') }}

{% endblock %}
