{% extends 'base.html.twig' %}

{% block title %}New Expositions{% endblock %}

{% block body %}
    <h1>Create new Expositions</h1>

    {{ include('expositions/_form.html.twig') }}

    <a href="{{ path('expositions_index') }}">back to list</a>
{% endblock %}
