<footer class="bg-dark mt-5 text-center absolute-bottom">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div id="foot" class="mb-3 mt-3 text-center text-white"><!--carousel expo-->
                    <p>CGV - <a class="text-white" href="#">mentions légales</a></p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="example">
                    <div class="mb-3 mt-2 text-center">
                        <a class="fb-ic text-danger icones" href="https://www.facebook.com/"><!-- Facebook -->
                        <i class="fab fa-facebook-f fa-lg white-text mr-sm-3"></i>
                        </a>
                        <a class="tw-ic text-danger icones" href="https://twitter.com/?lang=fr"><!-- Twitter -->
                        <i class="fab fa-twitter fa-lg white-text mr-sm-3"></i>
                        </a>   
                        <a class="li-ic text-danger icones" href="https://fr.linkedin.com/"><!--Linkedin -->
                        <i class="fab fa-linkedin-in fa-lg white-text mr-sm-3"></i>
                        </a>
                        <a class="pin-ic text-danger icones" href="https://www.pinterest.fr/"><!--Pinterest-->
                        <i class="fab fa-pinterest fa-lg white-text"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-3 mt-3 text-center text-white">
                    <p id="foot">© TRINITY-2019 Création: DW-2018</p>
                </div>
            </div>
        </div>
    </div>
</footer>