{% extends 'base.html.twig' %}

{% block title %}Plan Trinity{% endblock %}

{% block body %}
{% include 'partials/_navbar.html.twig' %}

    <div class="container justify-content-center">
        <p class="text-warning script text-center mb-2">Plan de la galerie</p>
        <img class="img-fluid" src="/img/plan.JPG" alt="Plan de la galerie TRINITY">
    </div>

{% include 'partials/_footer.html.twig' %}
{% endblock %}