{% extends 'base.html.twig' %}

{% block title %}Edit Oeuvres{% endblock %}

{% block body %}
    <h1>Edit Oeuvres</h1>

    {{ include('oeuvres/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('oeuvres_index') }}">back to list</a>
<<<<<<< HEAD

    {{ include('oeuvres/_delete_form.html.twig') }}
=======
>>>>>>> 2e56486c2326df871754e56d9f8ae2b9f8fa04bc
{% endblock %}
