{% extends 'base.html.twig' %}

{% block title %}Edit Oeuvres{% endblock %}

{% block body %}
{% include 'partials/_navbarGestion.html.twig' %}
<div class="container pt-5">
        <h1 class="text-center script text-warning">Modifications</h1>
        <div class="text-center">
            <a class="btn btn-dark text-center mb-3" href="{{ path('oeuvres_index') }}">Retour</a>
        </div>
    {{ include('oeuvres/_form.html.twig', {'button_label': 'Update'}) }}
</div>
{% endblock %}
