{% extends 'base.html.twig' %}

{% block title %}Edit Oeuvres{% endblock %}

{% block body %}
    <h1>Edit Oeuvres</h1>

    {{ include('oeuvres/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('oeuvres_index') }}">back to list</a>
{% endblock %}
