{% extends 'base.html.twig' %}

{% block title %}Edit Oeuvres{% endblock %}

{% block body %}
    <h1>Edit Oeuvres</h1>

    {{ include('oeuvres/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('oeuvres/_delete_form.html.twig') }}
{% endblock %}
