{% extends 'base.html.twig' %}

{% block title %}Ajouter une nouvelle oeuvre{% endblock %}

{% block body %}
    <h1>Créer une oeuvre</h1>

    {{ include('oeuvres/_form.html.twig') }}

{% endblock %}
