{% extends 'base.html.twig' %}

{% block title %}New Oeuvres{% endblock %}

{% block body %}
    <h1>Create new Oeuvres</h1>

    {{ include('oeuvres/_form.html.twig') }}

    <a href="{{ path('oeuvres_index') }}">back to list</a>
{% endblock %}
