<form method="post" action="{{ path('artistes_delete', {'id': artiste.id}) }}" onsubmit="return confirm('Voulez-vous vrailent supprimer cet Artiste ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ artiste.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
