{% extends 'base.html.twig' %}

{% block title %}Modifier les Artistes{% endblock %}

{% block body %}
    <h1>Modifier les Artistes</h1>

    {{ include('artistes/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    {{ include('artistes/_delete_form.html.twig') }}
{% endblock %}
