{% extends 'base.html.twig' %}

{% block title %}New Artistes{% endblock %}

{% block body %}

    {{ include('artistes/_form.html.twig') }}

    <a class="btn btn-dark" href="{{ path('artistes_index') }}">Retour</a>
{% endblock %}
